name: build-android

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      # --- Java 17 untuk SDK manager ---
      - name: Setup Java 17 (for sdkmanager)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17


      - name: Setup Android SDK
        uses: android-actions/setup-android@v3


      # --- Java 8 untuk Gradle build ---
      - name: Setup Java 8 (for old Gradle)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8


      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Debug output paths
        run: |
          echo "=== LISTING APK FILES ==="
          find . -name "*.apk" -print


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/apk/release/app-release.apk
