name: build-android

on: push: branches: - master

jobs: build: runs-on: ubuntu-latest steps: - uses: actions/checkout@v4 - uses: actions/setup-java@v4 with: distribution: temurin java-version: 8 - uses: android-actions/setup-android@v3 - run: chmod +x ./gradlew - run: ./gradlew assembleRelease - uses: actions/upload-artifact@v4 with: name: app-release path: app/build/outputs/apk/release/app-release.apk
